<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <h1>Player Detail</h1>
  </div>
  <div class="row">
    
  </div>
</div>

<p>Find me in app/views/public/post_players/show.html.erb</p>
