<div class="container">
  <div class="row">
    <h1 class="mx-auto my-5"><strong>PLAYERS FILE</strong>　はあなたの発見を全肯定するサイトです</h1>
  </div>
  <div class="row">
    <h2 class="mx-auto font-weight-light">後世自慢できる選手があなたのおかげで　「イマ」　見つかるかもしれない</h2>
  </div>

</div>